
  <div class="card ">
    <div class="card-header">
      <h3 class="card-title">Ajouter une nouvelle entreprise
      </h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" id="quickForm" [formGroup]="entrepriseForm" #entrepriseForme="ngForm">
      <div class="card-body">
        <div class="form-group">
          <label for="nomEntreprise">Nom<span class="text-danger" > *</span></label>
          <input type="text" formControlName="nom" class="form-control" 
          [(ngModel)]="entrepriseX.nom" name="nomEntreprise">
            <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
              <div *ngIf="nom.errors.required">
                nom obligatoire
              </div>   
            </div>
        </div>
        <div class="form-group">
          <label for="Entrepriseadresse">Adresse <span class="text-danger"> *</span></label>
          <input type="text" formControlName="adresse" class="form-control" id="adresse"
         [(ngModel)]="entrepriseX.adresse" name="adresseEntreprise">
            <div *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)" class="alert alert-danger">
              <div *ngIf="adresse.errors.required">
                Adresse obligatoire
              </div>
            </div>
        </div>

        <div class="form-group">
          <label>Téléphone<span class="text-danger">*</span></label>
          <input type="number" formControlName="Tel" class="form-control" id="tel"
          [(ngModel)]="entrepriseX.Tel" name="telEntreprise">
          <div *ngIf="Tel.invalid && (Tel.dirty || Tel.touched)" class="alert alert-danger">
            <div *ngIf="Tel.errors.required">
             Téléphone de l'entreprise obligatoire
            </div>
          </div>      
        </div>
      
        <div class="form-group">
            <label>Type<span class="text-danger">*</span></label>
            <select  formControlName="type" class="form-control" [(ngModel)]="entrepriseX.type">
              <option value="PME" selected="selected">PME</option>
              <option value="Startup">Startup</option>
              <option value="Incubateur">Incubateur</option>
              <option value="TGE">TGE</option>
              <option value="TPE">TPE</option>
              <option value="Multinationale">Multinationale</option>
              <option value="Banque">Banque</option>
            </select>         
        </div>

        <div class="form-group">
          <label for="mail">Mail <span class="text-danger"> *</span></label>
          <input type="email" formControlName="mail" class="form-control" id="mail"
          [(ngModel)]="entrepriseX.mail" name="mailEntreprise">
            <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
              <div *ngIf="mail.errors.required">
                Mail obligatoire
              </div>
            </div>
        </div>

        <div class="form-group">
          <label >Vis à vis<span class="text-danger"> *</span></label>
          <input type="text" formControlName="visavis" class="form-control" 
          [(ngModel)]="entrepriseX.visavis" name="visAvisEntreprise">
            <div *ngIf="visavis.invalid && (visavis.dirty || visavis.touched)" class="alert alert-danger">
            <div *ngIf="visavis.errors.required">
              Vis à vis obligatoire
            </div>
            </div>
          </div>
        
          <div class="form-group">
            <label >Poste<span class="text-danger"> *</span></label>
            <input type="text" formControlName="postevisavis" class="form-control" 
            [(ngModel)]="entrepriseX.postevisavis" name="postVisAvis">
              <div *ngIf="postevisavis.invalid && (postevisavis.dirty || postevisavis.touched)" class="alert alert-danger">
                <div *ngIf="postevisavis.errors.required">
                  Poste obligatoire
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Téléphone personnel<span class="text-danger">*</span></label>
              <input type="number" formControlName="telvisavis" class="form-control" id="telvisavis"
              [(ngModel)]="entrepriseX.telvisavis" name="telvisavis">
              <div *ngIf="telvisavis.invalid && (telvisavis.dirty || telvisavis.touched)" class="alert alert-danger">
                <div *ngIf="telPerso.errors.required">
                 Téléphone personnel obligatoire
                </div>
               </div> 
            </div>

          <div class="form-group">
            <label for="mailVisAvis">Mail vis à vis <span class="text-danger"> *</span></label>
            <input type="email" formControlName="mailvisavis" class="form-control" id="mailvisavis"
            [(ngModel)]="entrepriseX.mailvisavis" name="mailvisavis">
              <div *ngIf="mailvisavis.invalid && (mailvisavis.dirty || mailvisavis.touched)" class="alert alert-danger">
                <div *ngIf="adresse.errors.required">
                  Mail vis à vis obligatoire
                </div> 
              </div>
          </div>     
          
        </div>   
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit"  class="btn btn-primary" (click)="editEntreprise()">Submit</button>
      </div>
    </form>
  </div> 
 
<div>
  </div>